.pageWrp {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileUploadWrp {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.memeCard {
  padding: 1rem;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 3px #6d035f1f, 0 0 5px #7228790f, 0 0 8px #00000029;
}
.fileUploadLabel {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}
