.memeCard {
  padding: 1rem;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 3px #6d035f1f, 0 0 5px #7228790f, 0 0 8px #00000029;
}
.imgWrp {
  position: relative;
  /* display: flex; */
}
.memeTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.memeImg {
  width: 100%;
}

.memeTextTop {
  font-size: 1.3rem;
  position: absolute;
  top: 40px;
  left: 25px;
  /* color: white; */
  font-family: "Impact", sans-serif;
  letter-spacing: 3px;
}
.memeTextBottom {
  font-size: 1.3rem;
  position: absolute;
  bottom: 50px;
  left: 25px;
  /* color: white; */
  font-family: "Impacted", sans-serif;
  letter-spacing: 3px;
}
