.pageWrp {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memeCard {
  padding: 1rem;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 3px #6d035f1f, 0 0 5px #7228790f, 0 0 8px #00000029;
}
.memeTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.memeBtnWrp {
  width: 500px;

  display: flex;
  justify-content: space-between;
}

.memeBtn {
  background-color: white;
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.memeBtn:is(:focus, :hover) {
  background-color: green;
  color: white;
}
.memeBtn:disabled,
.memeBtn[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
.memeBtn:disabled:is(:focus, :hover) {
  background-color: white;
  color: rgba(16, 16, 16, 0.3);
  opacity: 0.5;
}
/* .memeForm {
  margin: 0 auto 1rem;
}
.memeLabel {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.memeInput {
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  height: 30px;
}
.memeInput:is(:focus, :hover) {
  border: 2px solid gray;
} */

/* font-family: "Impacted", sans-serif; */
.downloadBtn {
  background-color: white;
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-bottom: 1rem;
}
.downloadBtn:is(:focus, :hover) {
  color: white;
  background-color: black;
}
