.homeWrp {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 1rem 3rem;
}

.navTextTop {
  font-family: "Kavoon", serif;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: rgb(43, 47, 43);
}
.navLink:is(:focus, :hover) {
  color: blueviolet;
}
.navImg {
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .navImg {
    width: 400px;
  }
}
